@import 'tailwindcss';

:root {
   font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
   font-weight: 400;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   /* palette */
   --csnw-gray: #575555;
   --csnw-gray-dark-50: color-mix(in srgb, var(--csnw-gray), #000 50%);
   --csnw-gray-dark-30: color-mix(in srgb, var(--csnw-gray), #000 30%);
   --csnw-gray-dark-20: color-mix(in srgb, var(--csnw-gray), #000 20%);
   --csnw-gray-dark-10: color-mix(in srgb, var(--csnw-gray), #000 10%);
   --csnw-gray-light-10: color-mix(in srgb, var(--csnw-gray), #fff 10%);
   --csnw-gray-light-20: color-mix(in srgb, var(--csnw-gray), #fff 20%);
   --csnw-gray-light-30: color-mix(in srgb, var(--csnw-gray), #fff 30%);
   --csnw-gray-light-50: color-mix(in srgb, var(--csnw-gray), #fff 50%);
   --csnw-gray-light-70: color-mix(in srgb, var(--csnw-gray), #fff 70%);
   --csnw-gray-light-80: color-mix(in srgb, var(--csnw-gray), #fff 80%);

   --csnw-text: dimgray;

   /* --csnw-red-dark: #9f1919; */
   --csnw-red: #dd2727;
   --csnw-red-light-30: color-mix(in srgb, var(--csnw-red), #fff 30%);

   --csnw-teal: #27dddd;
   --csnw-teal-dark-30: color-mix(in srgb, var(--csnw-teal), #000 30%);
   --csnw-teal-dark-50: color-mix(in srgb, var(--csnw-teal), #000 50%);

   --disabled-text: var(--csnw-gray-light-30);
}

#root {
   width: 100vw;
   min-height: 100vh;
}

.bg-elevated-1 {
   @apply bg-gray-100;
   /* @apply bg-[var(--csnw-gray-light-80)]; */
}
.bg-elevated-dark-1 {
   @apply bg-[var(--csnw-gray-dark-30)];
}

.shadow-1 {
   @apply shadow-lg;
}
.shadow-dark-1 {
   @apply shadow-black;
}

/* TODO: handle user prefers reduced motion */
.hover-bright {
   @apply md:transition-all md:duration-300 md:ease-in-out md:hover:brightness-110;
}
.hover-scale {
   @apply md:transition-all md:duration-300 md:ease-in-out md:hover:scale-105;
}

.text-teal {
   @apply text-[var(--csnw-teal-dark-50)];
}
.text-teal-dark {
   @apply text-[var(--csnw-teal)];
}

.border-teal {
   @apply border-[var(--csnw-teal-dark-50)];
}
.border-teal-dark {
   @apply border-[var(--csnw-teal)];
}

.disabled-text {
   @apply text-[var(--disabled-text)];
}
.disabled-text-dark {
   @apply text-[var(--disabled-text)];
}

.button {
   @apply bg-[var(--csnw-teal-dark-30)] text-white;
}
.button-dark {
   @apply bg-[var(--csnw-teal)] text-black;
}
.disabled-button {
   @apply bg-[var(--disabled-text)] text-[var(--csnw-gray-light-80)];
}
.disabled-button-dark {
   @apply bg-[var(--disabled-text)] text-[var(--csnw-gray-dark-10)];
}

.wcag-focus {
   @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-[var(--csnw-teal)] focus-visible:ring-offset-2;
}


a {
   font-weight: 500;
   color: #646cff;
   text-decoration: inherit;
}
a:hover {
   color: #535bf2;
}

body {
   margin: 0;
   display: flex;
   place-items: center;
   min-width: 320px;
   min-height: 100vh;
}
