@import 'tailwindcss';

:root {
   font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
   font-weight: 400;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   /* palette */
   --csnw-gray: #575555;
   --csnw-gray-dark-50: color-mix(in srgb, var(--csnw-gray), #000 50%);
   --csnw-gray-dark-30: color-mix(in srgb, var(--csnw-gray), #000 30%);
   --csnw-gray-dark-10: color-mix(in srgb, var(--csnw-gray), #000 10%);
   --csnw-gray-light-30: color-mix(in srgb, var(--csnw-gray), #fff 30%);
   --csnw-gray-light-80: color-mix(in srgb, var(--csnw-gray), #fff 80%);

   --csnw-red: #dd2727;
   --csnw-red-light-30: color-mix(in srgb, var(--csnw-red), #fff 30%);
   --csnw-red-light-50: color-mix(in srgb, var(--csnw-red), #fff 50%);

   --csnw-teal: #27dddd;
   --csnw-teal-dark-30: color-mix(in srgb, var(--csnw-teal), #000 30%);
}

#root {
   width: 100vw;
   min-height: 100vh;
}

.bg-elevated-1 {
   @apply bg-gray-100 shadow-lg;
}
.bg-elevated-dark-1 {
   @apply bg-[var(--csnw-gray-dark-30)] shadow-black;
}

.hover-bright {
   @apply md:transition-all md:duration-300 md:ease-in-out md:hover:brightness-110;
}

.wcag-focus {
   @apply focus-visible:ring-2 focus-visible:ring-[var(--csnw-teal)] focus-visible:ring-offset-2 focus-visible:outline-none;
}

@theme {
   --color-csnw-gray: var(--csnw-gray);
   --color-csnw-gray-dark-50: var(--csnw-gray-dark-50);
   --color-csnw-gray-dark-30: var(--csnw-gray-dark-30);
   --color-csnw-gray-dark-10: var(--csnw-gray-dark-10);
   --color-csnw-gray-light-30: var(--csnw-gray-light-30);
   --color-csnw-gray-light-80: var(--csnw-gray-light-80);
   --color-csnw-red: var(--csnw-red);
   --color-csnw-red-light-30: var(--csnw-red-light-30);
   --color-csnw-red-light-50: var(--csnw-red-light-50);
   --color-csnw-teal: var(--csnw-teal);
   --color-csnw-teal-dark-30: var(--csnw-teal-dark-30);
}

body {
   margin: 0;
   display: flex;
   place-items: center;
   min-width: 320px;
   min-height: 100vh;
}
